In [64]:
import json
with open('senate_speech (1).json') as json_file:
    senate_speech_1 = json.load(json_file)

In [65]:
with open('senate_speech (2).json') as json_file:
    senate_speech_2 = json.load(json_file)

In [66]:
with open('house_speech.json') as json_file:
    house_speech = json.load(json_file)

In [67]:
def Merge(dict_1, dict_2):
    result = dict_1 | dict_2
    return result

senate_speech = Merge(senate_speech_1, senate_speech_2)
speech = Merge(senate_speech, house_speech)

In [68]:
import pandas as pd
import fuzzy_pandas as fpd
import json

house = pd.read_excel("House116.xlsx")
senate = pd.read_excel("Senate116.xlsx")
house = house[['Legislator name', 'Legislative Effectiveness Score', 'party']]
senate = senate[['Legislator name',
                 'Legislative Effectiveness Score', 'party']]
df_les = pd.concat([house, senate], axis=0)

In [69]:
df_les

        Legislator name  Legislative Effectiveness Score party
0         Ralph Abraham                         0.039761     R
1            Alma Adams                         1.783789     D
2       Robert Aderholt                         0.019880     R
3          Pete Aguilar                         0.049701     D
4            Rick Allen                         0.039761     R
..                  ...                              ...   ...
96     Elizabeth Warren                         0.725357     D
97   Sheldon Whitehouse                         0.648167     D
98         Roger Wicker                         3.558171     R
99            Ron Wyden                         0.927056     D
100          Todd Young                         0.544185     R

[546 rows x 3 columns]

In [70]:
speech = pd.DataFrame.from_dict(speech, orient="index")
speech.reset_index(inplace=True)
speech.rename(columns = {'index': 'name', 0: 'speech'}, 
            inplace = True)

In [71]:
speech['name'] = speech['name'].map(lambda x: x.split(' ')[1].lower())

In [72]:
speech

            name                                             speech
0       grassley   Mr. GRASSLEY. I do agree. The IRS got the law...
1        schumer   Mr. SCHUMER. Mr. President, last night, the H...
2         cornyn   Mr. CORNYN. Mr. President, following the long...
3         hawley   Mr. HAWLEY. Madam President, just two brief p...
4          kaine   Mr. KAINE. Mr. President, today I am introduc...
..           ...                                                ...
609       mcbath   Mrs. MCBATH.  Madam Speaker, I move to suspen...
610       mcbath   Ms. McBATH. Madam Speaker, I urge my colleagu...
611          lee   Mr. LEE of California. Mr. Speaker, let me al...
612  jackson-lee   Ms. JACKSON-LEE. Then I would like to emphasi...
613         hall   Mr. HALL. Mr. Speaker, the first wave of stim...

[614 rows x 2 columns]

In [77]:
df_les['Name'] = df_les['Legislator name'].map(lambda x: x.split(' ')[1].lower())

In [81]:
def record_link(df1, df2, threshold, name):
    """
    Merge a dictionary with the LES dataset using record linkage

    Inputs:
        dic: dictionary object
        df2: dataframe containing the LES dataset
        threshold: threshold for record linkage
        name: name of the output csv file
    Outputs:
        /
    """
    df_analysis = fpd.fuzzy_merge(df1, df2,
                                  left_on='Name',
                                  right_on='name',
                                  method='levenshtein',
                                  threshold=threshold)
    df_analysis.to_csv(name+".csv")

In [78]:
df_les

        Legislator name  Legislative Effectiveness Score party        Name
0         Ralph Abraham                         0.039761     R     abraham
1            Alma Adams                         1.783789     D       adams
2       Robert Aderholt                         0.019880     R    aderholt
3          Pete Aguilar                         0.049701     D     aguilar
4            Rick Allen                         0.039761     R       allen
..                  ...                              ...   ...         ...
96     Elizabeth Warren                         0.725357     D      warren
97   Sheldon Whitehouse                         0.648167     D  whitehouse
98         Roger Wicker                         3.558171     R      wicker
99            Ron Wyden                         0.927056     D       wyden
100          Todd Young                         0.544185     R       young

[546 rows x 4 columns]

In [79]:
speech

            name                                             speech
0       grassley   Mr. GRASSLEY. I do agree. The IRS got the law...
1        schumer   Mr. SCHUMER. Mr. President, last night, the H...
2         cornyn   Mr. CORNYN. Mr. President, following the long...
3         hawley   Mr. HAWLEY. Madam President, just two brief p...
4          kaine   Mr. KAINE. Mr. President, today I am introduc...
..           ...                                                ...
609       mcbath   Mrs. MCBATH.  Madam Speaker, I move to suspen...
610       mcbath   Ms. McBATH. Madam Speaker, I urge my colleagu...
611          lee   Mr. LEE of California. Mr. Speaker, let me al...
612  jackson-lee   Ms. JACKSON-LEE. Then I would like to emphasi...
613         hall   Mr. HALL. Mr. Speaker, the first wave of stim...

[614 rows x 2 columns]

In [84]:
record_link(df_les, speech, 1, "df_tm")

In [85]:
raw_issue_analysis = pd.read_csv("df_tm.csv")

In [88]:
raw_issue_analysis

,Unnamed: 0,Legislator name,Legislative Effectiveness Score,party,Name,name,speech
0,0,Ralph Abraham,0.039761,R,abraham,abraham,"Mr. ABRAHAM. Mr. Speaker, on Friday, July 24,..."
1,1,Alma Adams,1.783789,D,adams,adams,"Ms. ADAMS. Mr. Speaker, on that I demand the ..."
2,2,Robert Aderholt,0.019880,R,aderholt,aderholt,"Mr. ADERHOLT. Mr. Speaker, I would like to le..."
3,3,Pete Aguilar,0.049701,D,aguilar,aguilar,"Mr. AGUILAR. Madam Speaker, I thank the gentl..."
4,4,Rick Allen,0.039761,R,allen,allen,"Mr. ALLEN. Mr. Speaker, I was unable to vote ..."
...,...,...,...,...,...,...,...
714,714,Elizabeth Warren,0.725357,D,warren,warren,"Ms. WARREN. Mr. President, I ask for the yeas..."
715,715,Sheldon Whitehouse,0.648167,D,whitehouse,whitehouse,"Mr. WHITEHOUSE. Madam President, we are rapid..."
716,716,Roger Wicker,3.558171,R,wicker,wicker,"Mr. WICKER. Madam President, the Senator, my ..."
717,717,Ron Wyden,0.927056,D,wyden,wyden,"Mr. WYDEN. Thank you for that background, Mr...."
718,718,Todd Young,0.544185,R,young,young,"Mr. YOUNG. Mr. Speaker, I rise today to recog..."

In [95]:
df_les.set_index('Legislator name').get('Legislative Effectiveness Score').to_json('les.json', orient='columns')

In [96]:
with open('les.json') as json_file:
    les = json.load(json_file)